<div class="page8">
  <div class="container">
    <div class="row">
      <div class="intro-txt">
        <div class="main-txt">Candidate Packages</div>
        <div class="horizontal-line"></div>
        <P>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor.</P>
      </div>
    </div>

    
    <div class="row">
        
      <div class="col-md-4 mb-2">
        <div class="card-body">
          <div class="data">
            <h5 class="card-title">Rs12.00</h5>
            <p class="card-text">Rs10.00</p>
            <p class="card-info">Silver Package</p>

            <p class="card-dummy">Lorem ipsum dolor sit.</p>

            <P> Validity: 60 Days </P>
            <p>Jobs to apply: 30</p>
            <p>Featured profile for: 30 Days</p>

            <a href="" class="btn-class">
              <button mat-flat-button color="primary">Select Plan</button>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2">
        <div class="card-body">
          <div class="data">
            <h5 class="card-title">Rs20.00</h5>
            <p class="card-text">Rs15.00</p>
            <p class="card-info">Prisma Package</p>

            <p class="card-dummy">Lorem ipsum dolor sit.</p>

            <P> Validity: 100 Days </P>
            <p>Jobs to apply: 50</p>
            <p>Featured profile for: 50 Days</p>

            <a href="" class="btn-class">
              <button mat-flat-button color="primary">Select Plan</button>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2">
        <div class="card-body">
          <div class="data">
            <h5 class="card-title">Rs30.00</h5>
            <p class="card-text">Rs28.00</p>
            <p class="card-info">Astonishing Package</p>

            <p class="card-dummy">Lorem ipsum dolor sit.</p>

            <P> Validity: 60 Days </P>
            <p>Jobs to apply: 30</p>
            <p>Featured profile for: 30 Days</p>

            <a href="" class="btn-class">
              <button mat-flat-button color="primary">Primary</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
