<div class="page1">
  <div class="row">
    <div class="min-heading">A Mega Job board WordPress Theme</div>
    <div class="min-heading2">Your Dream Job is Waiting</div>
  </div>
  <!-- <div class="container"> -->
  <div class="rectangle">
    <div>
      <div>Search Job</div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ex. Developer" value=" " />
      </mat-form-field>
    </div>

    <div>
      <div>Location</div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ex. Developer" value=" " list="location" />
      </mat-form-field>

      <datalist id="location">
        <option value="Apple"></option>
        <option value="Banana"></option>
        <option value="Cherry"></option>
        <option value="Date"></option>
        <option value="Fig"></option>
        <option value="Grape"></option>
      </datalist>
    </div>
    <button mat-raised-button color="primary">Search</button>
    <!-- </div> -->
  </div>

  <div class="quicklinks">
    <div class="txt">Most Searches</div>
    <div class="links">
      <a href="">Automotive</a>
      <a href="">Education</a>
      <a href="">Health and Care</a>
      <a href="">Engineering</a>
    </div>
  </div>
</div>
