<div class="page2">
  <div class="container">
    <div class="row">
      <div class="head">
        <div class="mainheading">Explore Categories</div>

        <div class="horizontal-line"></div>

        <div class="introtxt">
          Lorem ipsum dolor sit amet elit, sed do eiusmod tempor
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <img
              src="../../../../assets/images/car.png"
              alt=""
              class="cardimage"
            />
            <h5 class="card-title">Automotive</h5>
            <p class="card-text">(1 Opening)</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <img
              src="../../../../assets/images/blackboard.png"
              alt=""
              class="cardimage"
            />
            <h5 class="card-title">Education</h5>
            <p class="card-text">(1 Opening)</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <img
              src="../../../../assets/images/cardiogram1.png"
              alt=""
              class="cardimage"
            />
            <h5 class="card-title">Health and Care</h5>
            <p class="card-text">(1 Opening)</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <img
              src="../../../../assets/images/paint-roller-1.png"
              alt=""
              class="cardimage"
            />
            <h5 class="card-title">Construction</h5>
            <p class="card-text">(1 Opening)</p>
          </div>
        </div>
      </div>
      <!-- Repeat the above structure for each card -->
    </div>
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <img
              src="../../../../assets/images/painting-palette.png"
              alt=""
              class="cardimage"
            />
            <h5 class="card-title">Designer</h5>
            <p class="card-text">(1 Opening)</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <img
              src="../../../../assets/images/spinning.png"
              alt=""
              class="cardimage"
            />
            <h5 class="card-title">Fintness Trainer</h5>
            <p class="card-text">(1 Opening)</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <img
              src="../../../../assets/images/promotion.png"
              alt=""
              class="cardimage"
            />
            <h5 class="card-title">Marketing</h5>
            <p class="card-text">(1 Opening)</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <img
              src="../../../../assets/images/question.png"
              alt=""
              class="cardimage"
            />
            <h5 class="card-title">Other Services</h5>
            <p class="card-text">(1 Opening)</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="expbtn">
        <button mat-raised-button color="primary">Explore More</button>
      </div>
    </div>
  </div>
</div>
