<div class="page6">
  <div class="container">
    <div class="row">
      <div class="intro-txt">
        <div class="main-txt">Pricing Packages</div>
        <div class="horizontal-line"></div>
      </div>
    </div>

    <!--  -->
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="full">
            <div class="top">
              <h5 class="card-title">Free</h5>
              <p class="card-text">Basic</p>
              <img src="../../../../assets/images/price-box-bg.png" alt="" />
            </div>

            <div class="bottom">
              <div class="data">
                <p>Validity: 50 Days</p>
                <p>Featured profile: 20 Days</p>
                <p>✔ 20 Spotlight Jobs</p>
                <p>✔ 20 Feature Jobs</p>
                <p>✔ 20 Urgent Jobs</p>
                <p>✔ 20 Private Jobs</p>
                <p>✔ 20 Stared Jobs</p>
              </div>
              <button mat-raised-button color="primary">Select Plan</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="full">
            <div class="top">
              <h5 class="card-title">Rs300.00</h5>
              <p class="card-text">Standard</p>
              <img src="../../../../assets/images/price-box-bg.png" alt="" />
            </div>

            <div class="bottom">
              <div class="data">
                
                <p>✔ Validity: LifeTime</p>
                <p> Candidates Search: 20</p>
                <p>✔ 45 Spotlight Jobs</p>
                <p>✔ 45 Feature Jobs</p>
                <p>✔ 50 Urgent Jobs</p>
                <p>✔ 45 Private Jobs</p>
                <p>✔ 75 Stared Jobs</p>
              </div>
              <button mat-raised-button color="primary">Select Plan</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="full">
            <div class="top">
              <h5 class="card-title">RS600.00</h5>
              <p class="card-text">Premium</p>
              <img src="../../../../assets/images/price-box-bg.png" alt="" />
            </div>

            <div class="bottom">
              <div class="data">
                <p>Validity: 70 Days</p>
                <p>Candidates Search: 30</p>
                <p>✔ 30 Spotlight Jobs</p>
                <p>✔ 25 Feature Jobs</p>
                <p>✔ 70 Urgent Jobs</p>
                <p>✔ 25 Private Jobs</p>
                <p>✔ 60 Stared Jobs</p>
              </div>
              <button mat-raised-button color="primary">Select Plan</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
