<div class="page4">
  <div class="container">
    <div class="row">
      <div class="head">
        <div class="mainheading">Featured Jobs</div>

        <div class="horizontal-line"></div>

        <div class="introtxt">
          Know your worth and find the job that qualify your life
        </div>
      </div>
    </div>

    <div class="row">
      <div class="first container">
        <img
          src="../../../../assets/images/profile-male-circle2-512-150x150.png"
          alt=""
          class="model-image"
        />

        <div class="rectangle">
          <div>
            <div class="heading">Photo Editor</div>
            <div>NOKRI</div>
            <div>📌Lahore Punjab Pakistan</div>

            <button mat-flat-button color="warn">Featured</button>
          </div>

          <div class="mid">
            <div>Type: Full</div>
            <div>Time: 2 years ago</div>
          </div>

          <div class="end">
            <a href="">
              <button mat-stroked-button color="primary">Apply Now</button>
            </a>
            <a href="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-heart"
                viewBox="0 0 16 16"
              >
                <path
                  d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                />
              </svg>
            </a>
          </div>
        </div>

        
      </div>
    </div>

    <div class="row">
      <div class="first container">
        <img
          src="../../../../assets/images/profile-male-circle2-512-150x150.png"
          alt=""
          class="model-image"
        />

        <div class="rectangle">
          <div>
            <div class="heading">Assistant Editor</div>
            <div>NOKRI</div>
            <div>📌Model Town Lahore Punjab Pakistan</div>

            <button mat-flat-button color="warn">Featured</button>
          </div>

          <div class="mid">
            <div>Type: Full</div>
            <div>Time: 5 years ago</div>
          </div>

          <div class="end">
            <a href="">
              <button mat-stroked-button color="primary">Apply Now</button>
            </a>
            <a href="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-heart"
                viewBox="0 0 16 16"
              >
                <path
                  d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                />
              </svg>
            </a>
          </div>
        </div>

        
      </div>
    </div>

    <div class="row">
      <div class="first container">
        <img
          src="../../../../assets/images/jornadas-nutricao-2017-ULSNE-1-150x150.png"
          alt=""
          class="model-image"
        />

        <div class="rectangle">
          <div>
            <div class="heading">Photo Editor</div>
            <div>DELIGHT KING</div>
            <div>📌Pakistan</div>

            <button mat-flat-button color="warn">Featured</button>
          </div>

          <div class="mid">
            <div>Type: Full</div>
            <div>Time: 5 years ago</div>
          </div>

          <div class="end">
            <a href="">
              <button mat-stroked-button color="primary">Apply Now</button>
            </a>
            <a href="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-heart"
                viewBox="0 0 16 16"
              >
                <path
                  d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                />
              </svg>
            </a>
          </div>
        </div>

        
      </div>
    </div>
<div class="row">
  <div class="browse-job">
    
    <button mat-stroked-button color="primary">Browse All Jobs</button>
  </div>
</div>
  
  </div>
</div>
