<div class="page9">
  <div class="container">
    <div class="main">
      <div class="txt">
        <div class="heading">Download our Mobile Apps Today</div>

        <div class="details">
          About Nokri dolor sit amet, consectetur adipiscing elit. Maecenas eget
          nisl id libero tincidunt sodales. dolor sit amet, consectetur
          adipiscing elit. Maecenas eget nisl id libero tincidunt sodales dolor
          sit amet, elit. eget nisl id libero sodales dolor sit amet, elit.
        </div>

        <div class="images">
          <a href="">
            <img src="../../../../assets/images/google-play.png" alt="" />
          </a>

          <a href="">
            <img src="../../../../assets/images/app-store.png" alt="" />
          </a>
        </div>
      </div>

      <div class="imgs">
        <img src="../../../../assets/images/phone.png" alt="" />
      </div>
    </div>
  </div>
</div>
